absl-py==2.4.0
addict==2.4.0
ale-py==0.11.2
alembic==1.18.4
asttokens==3.0.1
astunparse==1.6.3
attrs==26.1.0
blinker==1.9.0
certifi==2026.4.22
chardet==5.2.0
charset-normalizer==3.4.7
click==8.3.3
cloudpickle==3.1.2
colorlog==6.10.1
comm==0.2.3
ConfigArgParse==1.7.5
contourpy==1.3.2
cuda-bindings==13.2.0
cuda-pathfinder==1.5.4
cuda-toolkit==13.0.2
cycler==0.12.1
dash==4.1.0
DataProperty==1.1.0
decorator==5.2.1
evdev==1.9.3
exceptiongroup==1.3.1
executing==2.2.1
Farama-Notifications==0.0.4
fastjsonschema==2.21.2
filelock==3.29.0
Flask==3.1.3
flatbuffers==25.12.19
fonttools==4.62.1
fsspec==2026.4.0
gast==0.7.0
google-pasta==0.2.0
greenlet==3.5.0
grpcio==1.80.0
gymnasium==1.2.3
h5py==3.14.0
hf-xet==1.4.3
huggingface-sb3==3.0
huggingface_hub==0.36.2
idna==3.13
importlib_metadata==9.0.0
ipython==8.39.0
ipywidgets==8.1.8
itsdangerous==2.2.0
jedi==0.19.2
Jinja2==3.1.6
joblib==1.5.3
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
jupyter_core==5.9.1
jupyterlab_widgets==3.0.16
keras==3.12.2
keyboard==0.13.5
kiwisolver==1.5.0
libclang==18.1.1
Mako==1.3.12
Markdown==3.10.2
markdown-it-py==4.0.0
MarkupSafe==3.0.3
matplotlib==3.10.9
matplotlib-inline==0.2.1
mbstrdecoder==1.1.4
mdurl==0.1.2
ml_dtypes==0.5.4
mpmath==1.3.0
namex==0.1.0
narwhals==2.20.0
nbformat==5.10.4
nest-asyncio==1.6.0
networkx==3.4.2
numpy==2.2.6
nvidia-cublas==13.1.0.3
nvidia-cuda-cupti==13.0.85
nvidia-cuda-nvrtc==13.0.88
nvidia-cuda-runtime==13.0.96
nvidia-cudnn-cu13==9.19.0.56
nvidia-cufft==12.0.0.61
nvidia-cufile==1.15.1.6
nvidia-curand==10.4.0.35
nvidia-cusolver==12.0.4.66
nvidia-cusparse==12.6.3.3
nvidia-cusparselt-cu13==0.8.0
nvidia-nccl-cu13==2.28.9
nvidia-nvjitlink==13.0.88
nvidia-nvshmem-cu13==3.4.5
nvidia-nvtx==13.0.85
-e git+https://github.com/harvard-microrobotics/object2urdf.git@74ad804b7c02f707f06326281b7d0bb0d4a7149d#egg=object2urdf
open3d==0.19.0
opencv-python==4.13.0.92
opt_einsum==3.4.0
optree==0.19.1
optuna==4.8.0
packaging==26.2
-e git+https://github.com/qgallouedec/panda-gym/@10c4d8adaab07d8a29b2f8dc0aa85f8edd8532ae#egg=panda_gym
-e git+https://github.com/SJuneja0/3D-Vision-Based-Grasping.git@eb4a49572b909931d2157fa80e30dcbd5e358800#egg=panda_rl_project&subdirectory=final
pandas==2.3.3
parso==0.8.7
pathvalidate==3.3.1
pexpect==4.9.0
pillow==12.2.0
platformdirs==4.9.6
plotly==6.7.0
prompt_toolkit==3.0.52
protobuf==7.34.1
psutil==7.2.2
ptyprocess==0.7.0
pure_eval==0.2.3
pybullet==3.2.7
pygame-ce==2.5.7
Pygments==2.20.0
pynput==1.8.1
pyparsing==3.3.2
pyquaternion==0.9.9
pytablewriter==1.2.1
python-dateutil==2.9.0.post0
python-xlib==0.33
pytz==2026.1.post1
PyYAML==6.0.3
referencing==0.37.0
requests==2.33.1
retrying==1.4.2
rich==15.0.0
-e git+https://github.com/DLR-RM/rl-baselines3-zoo.git@22e3ff2450fd92033f7f032915e1f64894a09584#egg=rl_zoo3
rpds-py==0.30.0
sb3_contrib==2.9.0a2
scikit-learn==1.7.2
scipy==1.15.3
seaborn==0.13.2
Shimmy==2.0.1
six==1.17.0
SQLAlchemy==2.0.49
stable_baselines3==2.9.0a2
stack-data==0.6.3
sympy==1.14.0
tabledata==1.3.4
tcolorpy==0.1.7
tensorboard==2.20.0
tensorboard-data-server==0.7.2
tensorflow==2.21.0
termcolor==3.3.0
threadpoolctl==3.6.0
tomli==2.4.1
torch==2.11.0
tqdm==4.67.3
traitlets==5.14.3
trimesh==4.12.1
triton==3.6.0
typeguard==4.5.1
typepy==1.3.4
typing_extensions==4.15.0
tzdata==2026.2
urllib3==2.6.3
wasabi==1.1.3
wcwidth==0.6.0
Werkzeug==3.1.8
widgetsnbextension==4.0.15
wrapt==2.1.2
zipp==3.23.1